:root {

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1E2020;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    max-width: 1776px;
    margin: 0 auto;
}

.title-site {
    margin: 0;
    padding: 0;
}

.p-site {
    margin: 0;
    padding: 0;
}

.site-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-link {
    text-decoration: none;
}

.header {
}

.header--bottom-line {
    border-bottom: 1px solid #444444;
}

.header__wrapper {
    display: flex;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    padding: 32px 48px 33px 32px;
    border-right: 1px solid #444444;
}

.header__burger {
    width: 26px;
    height: 23px;
    background: url(../img/icon/burger-icon.svg) center no-repeat;
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    display: inline-block;
}


.header__inner {
    display: flex;
    align-items: center;
}

.hero {
    padding-top: 71px;
}

.hero__banner {
    margin-bottom: 104px;
    padding: 52px 0 95px 927px;
    border-radius: 20px;
}

.planet {
    background-image: url('../img/speed_planet.svg'), url('../img/planet.svg'), url('../img/speed_planet1.svg'), url('../img/hero-banner.png'), url('../img/fixsed.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -9px, -256px, 8px, 0, 10px;
    background-position-y: 144px, -378px, 128px, 0, 10px;
    background-size: 50%, 70%, 50%, 150%, 50%;
}

.hero__title {
    font-family: 'Montserrat';
    font-size: 116px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #ffffff;
}

.hero__text {
    display: block;
    margin-top: 20px;
    margin-left: 11px;
    font-family: 'Open Sans';
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.hero__list {
    display: flex;
}

.hero__item {
    flex: 1 1 426px;
    height: 189px;
    margin-right: 24px;
    border-radius: 16px;
    overflow: hidden;
}

.tariff-item--web {
    position: relative;
    margin-right: 0;
}

.tariff-item--web::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 74px;
    width: 74px;
    background: url(../img/icon/dark/internet_dark.svg) no-repeat;
    z-index: 5;
}

.tariff-item__bg {
    display: block;
    width: 100%;
    height: 100%;
}

.tariff-item__bg--gray {
    filter: grayscale(100%);
}

.tariff-item__bg--color {
    margin-top: -189px;
    filter: grayscale(0);
}

.hero__item:hover > .tariff-item__bg--gray {
    filter: grayscale(0);
}

.hero__link {
    display: block;
    padding: 122px 32px 35px;
    font-family: 'Montserrat';
    font-size: 27px;
    color: #ffffff;
    letter-spacing: 2px;
}

.hero__link--video {
    padding-right: 90px;
    padding-top: 83px;
    font-size: 30px;
    letter-spacing: 0;
}







