:root {

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1E2020;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    max-width: 1776px;
    margin: 0 auto;
}

.title-site {
    margin: 0;
    padding: 0;
}

.p-site {
    margin: 0;
    padding: 0;
}

.site-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-link {
    text-decoration: none;
}

.header {
}

.header--bottom-line {
    border-bottom: 1px solid #444444;
}

.header__wrapper {
    display: flex;
}

.container--header {
    max-width: 1797px;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    padding: 36px 67px 36px 0px;
    border-right: 1px solid #444444;
}

.header__burger {
    width: 31px;
    height: 23px;
    background: url(../img/icon/burger-icon.svg) left center no-repeat;
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    display: inline-block;
    padding-top: 3px;
}

.logo-img {
    width: 263px;
}


.header__inner {
    display: flex;
    align-items: center;
}

.hero {
    padding-top: 64px;
}

.hero__banner {
    margin-bottom: 105px;
    padding: 56px 0 99px 927px;
    border-radius: 20px;
}

.planet {
    background-image: url('../img/speed_planet.svg'), url('../img/planet.svg'), url('../img/speed_planet1.svg'), url('../img/fixsed.svg'), url('../img/hero-banner.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -109px, -255px, 108px,-132px, 0;
    background-position-y: 130px, -336px, 203px, -111px, 0;
    background-size: 50%, 70%, 58%, 117%, 200%;
}

.hero__title {
    font-family: 'Montserrat';
    font-size: 116px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #ffffff;
}

.hero__text {
    display: block;
    margin-top: 28px;
    margin-left: 11px;
    font-family: 'Open Sans';
    font-size: 33px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.hero__list {
    display: flex;
}

.hero__item {
    flex: 1 1 426px;
    height: 189px;
    margin-right: 24px;
    border-radius: 18px;
    overflow: hidden;
}

.tariff-item {
    position: relative;
}

.tariff-item--web {
    margin-right: 0;
}

.tariff-item::after {
    content: '';
    position: absolute;
    right: 23px;
    top: 15px;
    display: inline-block;
    width: 74px;
    height: 74px;
    background-repeat: no-repeat;
}

.tariff-item--internet::after {
    background: url(../img/icon/dark/internet.png);
}

.tariff-item--smart::after {
    background: url(../img/icon/dark/smart.png);
}

.tariff-item--video::after {
    background: url(../img/icon/dark/video.png);
}

.tariff-item--web::after {
    background: url(../img/icon/dark/web.png);
}

.tariff-item__bg {
    display: block;
    width: 100%;
    height: 100%;
}

.tariff-item__bg--gray {
    filter: grayscale(100%);
}

.tariff-item__bg--color {
    margin-top: -189px;
    filter: grayscale(0);
}

.hero__item:hover > .tariff-item__bg--gray {
    filter: grayscale(0);
}

.hero__link {
    display: block;
    padding: 122px 32px 35px;
    font-family: 'Montserrat';
    font-size: 27px;
    color: #ffffff;
    letter-spacing: 2px;
}

.hero__link--video {
    padding-right: 90px;
    padding-top: 83px;
    font-size: 30px;
    letter-spacing: 0;
}







