:root {

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #1E2020;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    max-width: 1334px;
    margin: 0 auto;
}

.title-site {
    margin: 0;
    padding: 0;
}

.p-site {
    margin: 0;
    padding: 0;
}

.site-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-link {
    text-decoration: none;
}

.header {
    position: relative;
    z-index: 10;
}

.header--bottom-line {
    border-bottom: 1px solid #444444;
}

.header__wrapper {
    display: flex;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    padding: 32px 48px 33px 32px;
    border-right: 1px solid #444444;
}

.header__burger {
    width: 26px;
    height: 23px;
    background: url(../img/icon/burger-icon.svg) center no-repeat;
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    display: inline-block;
}


.header__inner {
    display: flex;
    align-items: center;
}

.hero {
    padding-top: 39px;
}

.hero__wrap {
    padding: 37px 11% 68px 52.1%;
    border-radius: 20px;
    background: url('../img/hero-banner.png') 0px 0px / 115% 270% no-repeat;
}

.hero__title {
    padding-bottom: 14px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 85px;
    font-weight: 500;
    text-transform: capitalize;
}

.hero__descr {
    padding-left: 8px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.hero__planet-wrap {
    width: 100%;
    height: 937px;
}

.planet {
    left: -397px !important;
    top: -643px !important;
    background: url(../img/planet.svg) 0 0/100% 100% no-repeat;
    position: relative !important;
}

.planet-fixed {
    width: 130%;
    height: 106%;
    background: url(../img/fixsed.svg) -172px -227px/100% 100% no-repeat;
}

.planet-faster {
    top: -4px !important;
    left: 34px !important;
    width: 45.2%;
    height: 43%;
    background: url(../img/speed\ _\ planet.svg) 0 0/100% 100% no-repeat;
}

.planet-slower {
    top: 4px !important;
    left: 38px !important;
    width: 61%;
    height: 40.6%;
    background: url(../img/speed\ _\ planet1.svg) 0 0/100% 100% no-repeat;
}

.hero__list {
    top: 296px !important;
}


.tariff-list {
    display: flex !important;
}

.tariff-list__item:not(:last-child) {
    margin-right: 16px;
}

.tariff__link {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(20%, 21%, 21%, .5);
    cursor: pointer;
}

.tariff__link-text {
    position: relative;
    display: inline-block;
    width: 299px;
    padding: 91px 0 25px 23px;
    border-radius: 20px;
    z-index: 5;
}

.tariff__link-text--video {
    width: 231px;
    padding-top: 64px;
    padding-right: 67px;
}

.tariff__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 0;
}

.tariff__link--internet::before {
    background: radial-gradient(301.63% 852.82% at 316.49% -551.41%, #FFB984 31.92%, #9A30EE 59.06%, #1B1979 98.91%);
}

.tariff__link--smart::before {
    background: radial-gradient(301.75% 853.17% at 211.82% -551.41%, #FFB984 31.92%, #9A30EE 59.06%, #1B1979 98.91%);
}

.tariff__link--video::before {
    background: radial-gradient(301.77% 853.17% at 106.38% -551.41%, #FFB984 31.92%, #9A30EE 59.06%, #1B1979 98.91%);
}

.tariff__link--web::before {
    background: radial-gradient(301.77% 853.17% at 1.71% -551.41%, #FFB984 31.92%, #9A30EE 59.06%, #1B1979 98.91%);
}

.tariff__link::after {
    content: "";
    position: absolute;
    right: 18px;
    top: 6px;
    width: 64px;
    height: 64px;
}

.tariff__link--internet::after {
    background: url(../img/icon/dark/internet_dark.png) 100% 100% no-repeat;
}

.tariff__link--internet:hover::after {
    background: url(../img/icon/lite/internet-lite.png);
    transition: background .3s ease-in-out;
}

.tariff__link--smart::after {
    background: url(../img/icon/dark/smart-tv_dark.png) 100% 100% no-repeat;
}

.tariff__link--smart:hover::after {
    background: url(../img/icon/lite/smart_tv-lite.png);
    transition: background .3s ease-in-out;
}

.tariff__link--video::after {
    background: url(../img/icon/dark/CCTV_dark.png) 100% 100% no-repeat;
}

.tariff__link--video:hover::after {
    background: url(../img/icon/lite/CCTV-lite.png) 100% 100% no-repeat;
    transition: background .3s ease-in-out;
}

.tariff__link--web::after {
    background: url(../img/icon/dark/sites_dark.png) 100% 100% no-repeat;
}

.tariff__link--web:hover::after {
    background: url(../img/icon/lite/sites-lite.png) 100% 100% no-repeat;
    transition: background .3s ease-in-out;
}

.tariff__link:hover {
    background-color: transparent;
    transition: background-color .3s ease-in-out;
}

.tariff__link:hover::before {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}





